<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.novaroma.helpet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.RegisterAddress" />
        <activity
            android:name=".presentation.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentation.RegisterAnimal" />
        <activity android:name=".presentation.Adoption" />
        <activity
            android:name=".presentation.ComplaintHome"
            android:label="@string/title_activity_complaint_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.AnimalsForAdoption"
            android:label="@string/title_activity_animais_for_adoption"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentation.ResgatedAnimal" />
        <activity android:name=".presentation.ComplaintRegister" />
        <activity android:name=".presentation.AdoptionRegister" />
        <activity android:name=".presentation.AdoptedAnimals" />
        <activity android:name=".presentation.AdoptionDetails"></activity>
    </application>

</manifest>